/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -135px;
  /* Pad bottom by footer height */
  padding: 0 0 135px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 135px;
  background-color: #004080;
}


@media screen and ( max-width: 992px ) {
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -270px;
  /* Pad bottom by footer height */
  padding: 0 0 270px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 270px;
  background-color: #004080;
} 
.imagenlogo{
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
}






/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.imagenlogo{
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.navbar{
  background: #004080;
}
.navbar-brand{
  color: #F5F5F5 !important;
}
.navbar-nav li a{
  color: #F5F5F5 !important;
}
.navbar-nav li.active a{
  color: #004080 !important;
}